# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono Auto Generated)
mono_crash.*

# User-specific files (VSCode)
.vscode/*
!.vscode/settings.json
.vscode

# Logs
*.log
*.tlg

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Enable "build/" folder in the NuGet Packages folder since NuGet uses it for MSBuild targets
!packages/build/

#APIKeys
Keys.json
